<div class="col-md-6 col-md-offset-3">
    <h1>Hello! {{currentUser}}</h1>
    <p>You're logged in!!</p>
    <h3>All  users:</h3>
	<table class ="table table-hover table-fixed">
	<thead>
	<tr>
		<th class="col-xs-4">USERNAME</th>
		<th class="col-xs-4">FIRSTNAME</th>
		<th class="col-xs-4">LASTNAME</th>
		<th class="col-xs-5">PHONENUMBER</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
        <tr *ngFor="let user of users">
            <td class="col-xs-4">{{user.username}}</td>
			<td class="col-xs-4">{{user.firstName}}</td> 
			<td class="col-xs-4">{{user.lastName}}</td>
			<td class="col-xs-5">{{user.phoneNumber}}</td>
            <td class="col-xs-3"><a (click)="deleteUser(user.username)"><span class="glyphicon glyphicon-trash" style="color: #ff5213;"></span></a></td>
        </tr>
	</tbody>
	</table>
	  <button class="btn btn-danger" (click)="logout()">Logout</button>
</div>